$maxWidth: 1280;
@mixin respons-font($pcSize, $mobSize) {
   $addSize: $pcSize - $mobSize;
   $maxWidth: $maxWidth - 320;
   font-size: calc(
      #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
   ) !important;
}

@media (max-width: 1920px) {
   .container {
      max-width: 1599.75px !important;
   }

   /*QUALITY SECT*/
   .quality .container {
      justify-content: center !important;
   }

   .quality__box {
      width: 68.75% !important;
   }

   .quality__header {
      width: 22.7% !important;
   }
}

@media (max-width: 1560px) {
   .container {
      max-width: 1280px !important;
   }

   /*IDEA SECT*/
   .turn__box {
      width: 82.95% !important;
   }

   /*QUALITY*/
   .quality__header {
      width: 28.3% !important;
   }
}

@media (max-width: 1400px) {
   .container {
      max-width: 1220px !important;
   }

   .team-header h1 {
      @include respons-font(96, 93);
      padding: 163px 0 !important;
   }
}

@media (max-width: 1240px) {
   .container {
      max-width: 1020px !important;
   }
}

@media (max-width: 1070px) {
   .container {
      max-width: 900px !important;
   }

   /*ITEA SECT*/
   .turn__box {
      width: 96.95% !important;
   }

   /*TEAM*/
   .team-header h1 {
      padding: 103px 0 !important;
   }
}

@media (max-width: 940px) {
   .container {
      max-width: 819px !important;
   }
}

@media (max-width: 860px) {
   .container {
      max-width: 713px !important;
   }
}

@media (max-width: 768px) {
   /*HEADER*/
   .page-header {
      padding-bottom: 115px;
   }

   .page-header .container {
      display: block !important;
   }

   .page-header__logo {
      position: absolute !important;
      top: 88px !important;
      left: 60px !important;
   }

   .hblockup {
      justify-content: left !important;
   }

   .hblockdown__nav-box {
      justify-content: left !important;
      position: absolute;
      top: 150px;
      left: 43px;
   }

   /*IDEA SECT*/
   .idea .container {
      flex-direction: column;
      position: relative;
      gap: 2rem !important;
   }

   .idea__block {
      width: 100% !important;
   }

   .line {
      position: absolute !important;
      left: 4%;
   }

   .turn__box {
      width: 90.95% !important;
   }

   /*TEAM*/
   .team-header h1 {
      @include respons-font(90, 46);
      padding: 163px 0 !important;
   }

   /*QUALITY SECT*/
   .quality .container {
      flex-direction: column;
      margin-left: 49px;
   }

   .quality__box {
      width: 90.75% !important;
   }

   .quality__header {
      width: 92% !important;
   }

   /*FOOTER*/
   .fblock__up {
      display: block !important;
   }

   .fblock__up p {
      text-align: center;
   }

   .fblock__up-left {
      justify-content: center;
      margin-bottom: 21px;
   }

   .fblock__down {
      justify-content: center !important;
   }
}
 
@media (max-width: 620px) {
   .container {
      max-width: 500px !important;
   }

   /*IDEA SECT*/
   .turn__box {
      width: 99.95% !important;
   }

   .idea__block {
      width: 70% !important;
      margin-left: 20px;
   }

   .line {
      left: 0;
   }
}
 
@media (max-width: 520px) {
   .container {
      max-width: 400px !important;
   }
}
 
@media (max-width: 440px) {
   .container {
      max-width: 300px !important;
   }
}
 
@media (max-width: 375px) {}
