@media (min-width: 1920px) {
   .container {
      max-width: 1599.75px !important;
   }

   /*TEAM SECTION*/
   .team__block.slick-slide.slick-current.slick-active {
      justify-content: center;
   }

   .team__block-text h2 {
      width: 100% !important;
   }

   .slider.slick-initialized.slick-slider.slick-dotted {
      border-radius: 12px;
   }

   /*TRUST SECTION*/
   .trust-grid {
      margin: 0 100px;
   }
}

@media (max-width: 1680px) {
   .container {
      max-width: 1440px !important;
   }
}

@media (max-width: 1560px) {
   .container {
      max-width: 1280px !important;
   }
}

@media (max-width: 1400px) {
   .container {
      max-width: 1220px !important;
   }
}

@media (max-width: 1240px) {
   .container {
      max-width: 1020px !important;
   }
}

@media (max-width: 1070px) {
   .container {
      max-width: 900px !important;
   }

   /*COMMON BG FOR 3 SECTIONS*/
   .common-bg {
      background-size: contain !important;
   }

   /*ORIENTED SECTION*/
   .oriented__box-list li {
      word-break: break-all;
   }

   /*TEAM SECTION*/
   .team__block-text h2 {
      width: 95% !important;
   }
}

@media (max-width: 940px) {
   .container {
      max-width: 819px !important;
   }
}

@media (max-width: 860px) {
   .container {
      max-width: 713px !important;
   }
}

@media (max-width: 768px) {
   .container {
      max-width: 600px !important;
   }

   /*HEADER*/
   .page-header .container {
      display: block !important;
   }

   .page-header__logo {
      position: absolute !important;
      top: 88px !important;
      left: 60px !important;
   }

   .hblockup {
      justify-content: left !important;
   }

   .hblockdown__nav-box {
      justify-content: left !important;
      position: absolute;
      top: 150px;
      left: 43px;
   }

   .home__header {
      padding-top: 351px !important;
   }

   /*ORIENTED SECTION*/
   .oriented .container {
      flex-direction: column;
      padding-bottom: 60px !important;
   }

   .mline {
      transform: rotate(90deg);
      margin: 0 !important;
   }

   .oriented__box-list {
      display: flex;
      margin: 0;
      li {
         margin-bottom: 0 !important;
      }
   }

   .oriented__block {
      width: 100% !important;
   }

   /*SERVICES SECTION*/
   .services-grid {
      grid-template-columns: 1fr 1fr !important;
      grid-template-rows: 1fr 1fr 1fr !important;
   }

   /*TEAM SECTION*/
   .team__block.slick-slide.slick-current.slick-active {
      flex-direction: column !important;
   }

   /*TRUST SECTION*/
   .trust-grid {
      grid-template-columns: 1fr 1fr 1fr !important;
      grid-template-rows: 1fr 1fr 1fr 1fr !important;
   }

   /*PUBLICATIONS SECTION*/
   .public__box {
      display: grid !important;
      grid-template-areas:
         "hd ld"
         "md md";
      gap: 30px;
   }

   .block-1 {
      grid-area: hd;
   }

   .block-2 {
      grid-area: ld;
   }

   .block-3 {
      grid-area: md;
   }
   .pblock {
      .pmarg1 {
         margin-bottom: 0;
      }
      .pmarg3 {
         margin-bottom: 30px;
      }
   }

   /*FOOTER*/
   .fblock__up {
      display: block !important;
   }

   .fblock__up p {
      text-align: center;
   }

   .fblock__up-left {
      justify-content: center;
      margin-bottom: 21px;
   }

   .fblock__down {
      justify-content: center !important;
   }
}

@media (max-width: 620px) {
   .container {
      max-width: 500px !important;
   }
}

@media (max-width: 520px) {
   .container {
      max-width: 400px !important;
   }

   /*HEADER*/
   .page-header__logo {
      width: 80%;
   }

   .hblockup__lang p {
      font-size: 10px !important;
   }

   .hblockup img + p {
      font-size: 14px;
   }

   .hblockdown__nav-box {
      font-size: 14px !important;
   }

   .phone {
      font-size: 14px;
   }

   /*HOME HEADER*/
   .home__header h1 {
      margin-bottom: 160px !important;
   }

   /*TRUST SECTION*/
   .trust-grid {
      grid-template-columns: 1fr 1fr !important;
      grid-template-rows: 1fr 1fr 1fr 1fr !important;
   }

   /*PUBLICATIONS SECT*/
   .public__box {
      grid-template-areas:
         "hd"
         "ld"
         "md";
   }

   .pblock .pmarg1 {
      margin-bottom: 30px;
   }

   /*FOOTER*/
   .fblock {
      position: relative;
   }

   .fblock__up-left {
      flex-direction: column;
      img {
         visibility: hidden;
      }
      margin-bottom: 125px !important;
   }

   .fblock__down {
      flex-direction: column;
      position: absolute;
      top: 30%;
      left: 25%;
      .sep {
         visibility: hidden;
      }
   }
}

@media (max-width: 440px) {
   .container {
      max-width: 300px !important;
   }

   /*BURGER MENU*/
   #menu__toggle {
      display: flex !important;
   }

   /*HEADER*/
   .page-header {
      background: rgba(245, 245, 250, 0.2);
   }

   .page-header__logo {
      width: 17.6%;
      top: 1.5% !important;
      left: 5% !important;
   }

   .hblockup .hblockup__lang {
      display: flex;
   }

   .hblockup {
      position: absolute;
      top: 10px;
      right: -29px;
      img {
         visibility: hidden;
      }
      p:not(.ln) {
         visibility: hidden;
      }
   }

   .hblockdown__nav-box {
      display: none !important;
   }

   /*HOME HEADER*/
   .home__header {
      padding-top: 201px !important;
   }

   /*SERVICES SECTION*/
   .services-grid {
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
      column-gap: 0;
   }

   /*TEAM SECTION*/
   .team__block-text {
      .h2section {
         margin: 0;
      }
      h2 {
         word-wrap: break-word;
      }
   }

   /*PUBLIC SECTION*/
   .pmarg3 {
      margin-bottom: 30px !important;
   }

   /*FOOTER*/
   .fblock__down {
      left: 17%;
   }
}

@media (max-width: 375px) {
   /*HOME HEADER*/
   .home__header {
      width: 86.73%;
      margin-right: 0;
   }

   /*TRUST SECTION*/
   .trust-grid {
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
   }
}
